@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (min-width: 620px) {
    .main {
      column-count: 2;
      column-gap: 20px;
    }
    
    .options-link {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      font-size: 0.7em;
      color: var(--red);
      background-color: white;
      border: none;
    }
    /* section {
      break-inside: avoid;
    }
  } */
  div {
    break-inside: avoid;
  }
}
  
  @media (min-width: 960px) {
    .main {
       column-count: 3;
    }
  }
  
.background{
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f5;
}
  /* styles */
  
  :root {
    --blue: #34495e;
    --green: #e74c3c;
    --yellow: #C9C243;
    --orange: #FFA644;
    --red: #3498db;
  }
  
  .body {
    background-color: var(--blue);
    font-family: 'Ubuntu', sans-serif;
    color: #34495e;
    width: 100%;
    margin-right: 30px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid #0099FF;
  }
  
  .main {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0;
  }
  
  .title {
    font-size: 2.0em;
    text-align: center;
    color: white;
  }

  .subtitle {
    font-size: 1.5em;
    text-align: center;
    color: white;
    margin-bottom: 0px
  }
  
  .figure-img {
    display: block;
    width: 100%;
    object-fit: contain;
  }
  
  h2 {
    font-size: 1.4em;
    padding: 10px;
  }
  
  p {
    margin-bottom: 1em;
    padding: 0 10px;
  }

  .await-login {
    text-align: center;
  }
  
  .info-link {
    text-decoration: none;
    color: var(--green);
    padding: 10px;
    display: block;
    background-color: white;
    border: none;
  }
  
  .options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-top: 3px solid var(--red);
    border-radius: 3px;
    background-color: white;
  }
  
  .options-link {
    text-decoration: none;
    font-size: 0.9em;
    color: var(--red);
    background-color: white;
    border: none;
  }
  
  .section {
    border-top: 3px solid var(--red);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .section-text{
  padding: 10px;
  }

  .section-img {
    display: block;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .bigtitle {
    padding: 0;
    background-color: white;
  }
  
  .bigbottom {
    padding: 0;
    background-color: white;
  }

  .bigtitle-title {
    color: white;
    background-color: var(--red);
    margin-bottom: 10px;
  }
  
  .bigbottom-link {
    background-color: var(--green);
    color: white;
    border: none;
  }
  
  .profile {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  @media (min-width: 620px) {
    .options-link {
      font-size: 1.4em;
      border: none;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 0.1em; */
    grid-auto-rows: minmax(auto, auto);
    padding: 10px;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two { 
    grid-column: 2;
    grid-row: 1;
  }
  .three {
    grid-column: 3;
    grid-row: 1;
  }

  .one-two {
    grid-column: 1;
    grid-row: 2;
  }
  .two-two { 
    grid-column: 2;
    grid-row: 2;
  }
  .three-two {
    grid-column: 3;
    grid-row: 2;
  }

  .wrapperMot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 0.1em; */
    grid-row-gap: 0.2em;
    grid-auto-rows: minmax(auto, auto);
    padding: 10px;
  }
  .oneMot {
    grid-column: 1;
    grid-row: 1;
  }
  .twoMot { 
    grid-column: 2;
    grid-row: 1;
  }
  .threeMot {
    grid-column: 3;
    grid-row: 1;
  }

  .fourMot {
    grid-column: 1;
    grid-row: 3;
  }

  .one-twoMot {
    grid-column: 1;
    grid-row: 2;
  }
  .two-twoMot { 
    grid-column: 2;
    grid-row: 2;
  }
  .three-twoMot {
    grid-column: 3;
    grid-row: 2;
  }

  .four-twoMot {
    grid-column: 2;
    grid-row: 3;
  }

  .dropdown-menu {
    max-height: 150px;
    overflow-y: scroll;
}

 .menu-style{
  color: var(--green);
  padding: 10px;
  background-color: white;
 }

#matriculas ul li{
  padding-left: 10px;
 }

.divisao-matriculas-proprio{
  padding-top: 10px;
}

.section-daily{
  padding: 10px;
  text-align: center;
  border: 0.1em solid;
  border-radius: 0.5em;
  }

  .section-calendario{
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    }

.select-iw41{
  border-radius: 5px;
  border: 2px solid #0099FF;
  font-size: 1em;
  padding: 0.1em;
  margin: 10px;
  cursor: pointer;
}

.click_h2{
  cursor: pointer;
}

.section-daily-fullProg{
  padding: 10px;
  text-align: left;
  margin-bottom: 0.5em;
  }

.section-daily-fullProg-li{
  padding: 10px;
  text-align: center;
}

.li-centro-trab{
  font-weight: bold;
}

.class-sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  font-size: 1em;
  color: var(--red);
  border: none;
}

.class-sobre-text {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  text-decoration: none;
  font-size: 1em;
  border: none;
  width: auto;
  height: 1.5em;
}

.center {
  text-align: center;
}